@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo da 2", serif;
    --font-secondary: 'Merriweather', serif;
    --font-links: "Mulish", serif;
}
.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.6s;
}

.show-menu .hamburguer{
    right: 17rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}
.show-menu #line1{
    transform: rotate(50deg) translate(.4rem, .3rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.show-menu #line3{
    transform: rotate(-50deg) translate(.3rem, -.3rem) ;
}

.hamburguer span{
    opacity: 0;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8b1689;
    color: #fff;
    font-family: var(--font-links);
    transition: 0.4s;
}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #8b1689;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}
.show-menu .hamburguer:hover span{
    opacity: 1;
}
header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 30s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1 {
    color: #ffffff;
    font-size: 4.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: 0.3rem 0.2rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: slide-banner 1s forwards;
    opacity: 0;
}
.banner p{
    font-family: var(--font-secondary);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem  rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    animation: slide-banner 1.4s forwards;
    opacity: 0;

}
.banner button{
    font-family: var(--font-links);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background: #AA076B; 
    background: -webkit-linear-gradient(to right, #61045F, #AA076B); 
    background: linear-gradient(to right, #61045F, #AA076B); 
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: slide-banner 1.7s forwards;
    opacity: 0;
}
.banner button:hover{
    background: -webkit-linear-gradient(to right, #50014e, #7c024d); 
    background: linear-gradient(to right, #8b1689, #AA076B); 
}

@keyframes slide-banner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: 0.6s;
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: 0.4rem;
}
.menu-link{
    font-family: var(--font-links);
    font-size: 2rem;
    color: rgba(121, 121, 121, 0.931);
    transition: color 1s;
}
.menu-link:hover{
    color: #50014e
}
.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i {
    background-color: #50014e;
    color: rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}
.social-media i:hover{
    background-color: #8b1689;
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 4rem);
}

.conhecimento:nth-child(1){
    grid-column: 3 / 7;
    grid-row: 1 / 3;
   
}
.conhecimento:nth-child(2){
    grid-column: 2 / 6;
    grid-row: 4 / 6;
   
}
.conhecimento:nth-child(3){
    grid-column: 3 / 7;
    grid-row: 7 / 9;
    
}
.conhecimento:nth-child(4){
    grid-column: 11 / 15;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 16;
    grid-row: 4 / 7;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 15;
    grid-row: 7 / 9;
}
.sessao-conhecimento{
    background-color: rgba(0, 0, 0, 0.4);
}
.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: solid 3px #61045F;
    margin-bottom: 1.9rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}

.conhecimento-header i{
    font-size:3rem;
}
.conhecimento-header h3{
    font-family: var(--font-secondary);
    font-size: 1.7rem;
    margin-left: 7px;
}

.conhecimento-text {
    font-family: var(--font-secondary);
    margin-top: 1rem;
    font-size: 0.8rem;
}
.conhecimento-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 4 /6 ;
    width: 100%;
    
}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    position: relative;
    width: 19rem;
    height: 27rem;
}
.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}
.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    border-radius: .5rem;
}
.card:hover .card-img-wrapper img{
    opacity: 0.5;
    border-radius: .5rem;
}
.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.card-info h2{
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 510;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secondary);
    color: #a031cc;
    font-weight: 600;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #a413dd; 
    margin-bottom: 1.5rem;
}
.card-info p{
    font-family: var(--font-secondary);
    color: #eee;
    font-weight: 400;
    width: 100%;
    margin-bottom: 2rem;
}
.btn{
    background: #AA076B; 
    background: -webkit-linear-gradient(to right, #61045F, #AA076B); 
    background: linear-gradient(to right, #61045F, #AA076B); 
    font-family: var(--font-links);
    font-size: 1rem;
    color: #eee;
    border-radius: .5;
    border: none;
    box-shadow: 0 0.1rem .8rem rgba(0, 0, 0, .4);
}
.card-info button{
    width: 8rem;
    height: 2.5rem;
    
}

.card:hover .card-info{
    bottom: 1rem;
    opacity: 1;
    visibility: visible;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato-wrapper{
    width: 50%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
}
.contato-left{
    width: 35%;
    background: 
        linear-gradient(rgba(39, 39, 39, 0.2),rgba(110, 110, 110, 0.2)),
        url(img/darkwoodbackground.jpg);
    background-size: cover;
}

.contato-right {
    width: 60%;
    background-color: #eee;
    padding: 1rem 6rem 6rem 6rem;
}
.sessao-projetos{
    margin-bottom: 3rem;
}
.sessao-contato{
    font-family: var(--font-primary);
    text-align: center;
    color: #272727;
    font-size: 2rem;
    font-weight: linear;
}
.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.input-group{
    position: relative;
}
.input-group textarea{
    padding-top: 1rem;
    max-width: 20rem;
    max-height: 3;
    
}
.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    border-bottom: 2px dashed #535353;
    height: 3rem;
    outline: none;
    
}
.field-label{
    position: absolute;
    left: 0;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 0.3s;
}
.field:focus ~ label{
    top: 0;
    font-size: 0.9rem;

}
.field:focus{
    border-bottom: 1px solid
}

.btn-submit{
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 1.5rem;
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background: url("./img/orcamentocode.jpg");
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    position: relative;
}
.orcamento-wrapper h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    padding: 0 3rem;
    background: #AA076B; 
    background: -webkit-linear-gradient(to right, #61045F, #AA076B); 
    background: linear-gradient(to right, #61045F, #AA076B); 
    color: #ffff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}
.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secondary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
}

.btn-orcamento {
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
    border-radius: 4px;
}